html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#maintenance {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $green; 

    .circle {
        width: 350px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 50%;
    }

    #logo {
        width: 230px;
        height: auto;
    }

    h1 {
        font-family: 'Leckerli One', cursive;
        line-height: 80%;
        
        small {
            font-family: 'Laila', serif;
            font-size: 1.5rem;
        }
    }

    .description {
        color: rgba(black, 50%);
        text-align: center;
        margin-top: 40px;
    }
}